<div class="dashboard">
    <mat-card class="example-card" (click)="redirectTo('application-users')">
        <mat-card-title-group>
            <mat-card-title>User</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('application-users')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>

    <mat-card class="example-card" (click)="redirectTo('environments')">
        <mat-card-title-group>
            <mat-card-title>Environment</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('environments')">arrow_forward</mat-icon>
    </span>
    </mat-card>

    <mat-card class="example-card" (click)="redirectTo('identity-users')">
        <mat-card-title-group>
            <mat-card-title>Identity User</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('identity-users')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>

    <mat-card class="example-card" (click)="redirectTo('database-server')">
        <mat-card-title-group>
            <mat-card-title>Database Server</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('database-server')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>
    <mat-card class="example-card" (click)="redirectTo('app-import-environment')">
        <mat-card-title-group>
            <mat-card-title>Import Environment</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('app-import-environment')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>
</div>