<div class="dashboardv2">
    <mat-card class="example-card" (click)="redirectTo('application-usersV1')">
        <mat-card-title-group>
            <mat-card-title>User</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('application-usersV1')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>

    <mat-card class="example-card" (click)="redirectTo('environmentsV1')">
        <mat-card-title-group>
            <mat-card-title>Environment</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('environmentsV1')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>

    <mat-card class="example-card" (click)="redirectTo('identity-usersV1')">
        <mat-card-title-group>
            <mat-card-title>Identity User</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('identity-usersV1')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>

    <mat-card class="example-card" (click)="redirectTo('database-serverV1')">
        <mat-card-title-group>
            <mat-card-title>Database Server</mat-card-title>
        </mat-card-title-group>
        <span class="material-symbols-outlined"><mat-icon (click)="redirectTo('database-serverV1')">
        arrow_forward</mat-icon
      >
    </span>
    </mat-card>
</div>