<div class="content">
    <div class="title-button">
        <button class="back-button" (click)="back()">
      <mat-icon id="arrow-back">arrow_back</mat-icon>
    </button>
        <h1 *ngIf="mode === 'edit'">Edit Users</h1>
        <h1 *ngIf="mode === 'create'">Create Users</h1>
        <span class="example-spacer"></span>
        <button mat-raised-button form="ngForm" type="submit" [disabled]="!userForm.valid">
      Save
    </button>
    </div>
    <hr />
    <div class="container">
        <form class="create-form" (ngSubmit)="saveUser()" #userForm="ngForm" id="ngForm" novalidate>
            <div class="item">
                <mat-form-field class="mat-form-field">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="user.firstName" name="name" required minlength="2" pattern="^[a-zA-Z]+$" #firstName="ngModel" />

                    <mat-error *ngIf="firstName.errors?.['required']">
                        First Name is required
                    </mat-error>

                    <mat-error *ngIf="firstName.errors?.['minlength']">
                        First Name Minimum Length is {{ firstName.errors?.['minlength']?.requiredLength }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="user.lastName" name="lastName" required pattern="^[a-zA-Z]+$" #lastName="ngModel" />

                    <mat-error *ngIf="lastName.errors?.['required']">
                        Last Name is required
                    </mat-error>

                    <mat-error *ngIf="lastName.errors?.['minlength']">
                        Last Name Minimum Length is {{ lastName.errors?.['minlength']?.requiredLength }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" name="birthDate" [(ngModel)]="user.birthDate" required #birthDate="ngModel" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="birthDate.errors?.['required']">
                        Birth Date is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="user.email" name="email" required email #email="ngModel" />
                    <mat-error *ngIf="email.errors?.['required']">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Telephone</mat-label>
                    <input matInput placeholder="555-555-1234" [(ngModel)]="user.phone" name="phone" required #phone="ngModel" />
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="phone.errors?.['required']">
                        Telephone Number is required
                    </mat-error>
                </mat-form-field>
                <br />

                <label class="radio-label">Gender</label>

                <br />

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" required [(ngModel)]="user.gender" name="gender" #gender="ngModel">
                    <mat-radio-button class="left-radio-button" value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>

                <p>Created by:</p>

                <mat-form-field class="my-form-field">
                    <input matInput type="search" required />
                </mat-form-field>
            </div>
            <div class="item-1">
                <mat-form-field class="mat-form-field">
                    <mat-label>Address</mat-label>
                    <input matInput [(ngModel)]="user.address" name="address" required #address="ngModel" />
                    <mat-error *ngIf="address.errors?.['required']">
                        Address is required
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>