<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <button mat-button class="menu-button" [routerLink]="['dashboard']" [routerLinkActive]="'is-active'">
      <mat-icon [routerLinkActive]="'is-active'">home</mat-icon>
      <span>Home</span>
    </button>
        <button mat-button class="menu-button" [routerLink]="['application-users']" [routerLinkActive]="'is-active'">
      <mat-icon [routerLinkActive]="'is-active'">people</mat-icon>
      <span>User</span>
    </button>
        <button mat-button class="menu-button" [routerLink]="['environments']" [routerLinkActive]="'is-active'">
      <mat-icon [routerLinkActive]="'is-active'">domain</mat-icon>
      <span>Environments</span>
    </button>
        <h3>IDENTITY SERVER</h3>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['identity-users']" [routerLinkActive]="'is-active'">
      <mat-icon [routerLinkActive]="'is-active'">perm_identity</mat-icon>
      <span>Identity User</span>
    </button>
        <h3>OPERATIONS</h3>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['database-server']" [routerLinkActive]="'is-active'">
      <mat-icon [routerLinkActive]="'is-active'">dataset_linked</mat-icon>
      <span>Database Server</span>
    </button>
        <button mat-button class="menu-button" [routerLink]="['app-import-environment-v1']" [routerLinkActive]="'is-active'">
      <mat-icon [routerLinkActive]="'is-active'">import_contacts</mat-icon>
      <span>Import Environment</span>
    </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>