<div class="content">
    <div class="title-button">
        <h1>Create Environment</h1>
        <span class="example-spacer"></span>
        <button mat-raised-button form="ngForm" type="submit" [disabled]="">
      Save
    </button>
    </div>
    <hr />
    <!-- <form class="create-form" (ngSubmit)="saveUser()" #userForm="ngForm" id="ngForm" novalidate>
        <div class="item">
       

            <mat-form-field class="mat-form-field">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="user.userName" name="userName" required minlength="2" pattern="^[a-zA-Z]+$" #userName="ngModel" />

                <mat-error *ngIf="userName.errors?.['required']">
                    First Name is required
                </mat-error>

                <mat-error *ngIf="userName.errors?.['minlength']">
                    First Name Minimum Length is {{ userName.errors?.['minlength']?.requiredLength }}
                </mat-error>
            </mat-form-field>

    

     
        </div>
        <div class="item-1"></div>
    </form> -->
</div>