<div class="content">
    <div class="title-button">
        <h1>Create/Edit Users</h1>
        <span class="example-spacer"></span>
        <button mat-raised-button form="ngForm" type="submit" [disabled]="!userForm.valid">
      Save
    </button>
    </div>
    <hr />
    <form class="create-form" (ngSubmit)="saveUser()" #userForm="ngForm" id="ngForm" novalidate>
        <div class="item">
            <mat-form-field class="mat-form-field">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="user.email" name="email" required email #email="ngModel" />
                <mat-error *ngIf="email.errors?.['required']">
                    Email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="user.userName" name="userName" required pattern="^[a-zA-Z0-9]+$" #userName="ngModel" />

                <mat-error *ngIf="userName.errors?.['required']">
                    Username is required
                </mat-error>

                <mat-error *ngIf="userName.errors?.['minlength']">
                    Username Minimum Length is {{ userName.errors?.['minlength']?.requiredLength }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
                <mat-label>Telephone</mat-label>
                <input matInput placeholder="555-555-1234" [(ngModel)]="user.phoneNumber" name="phoneNumber" required #phone="ngModel" />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="phone.errors?.['required']">
                    Telephone Number is required
                </mat-error>
            </mat-form-field>
            <br />

            <br />
        </div>
        <div class="item-1">
            <mat-form-field class="mat-form-field">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="user.password" name="password" required #password="ngModel" type="password" />

                <mat-error *ngIf="confirmPassword.errors?.['required']">
                    password is required
                </mat-error>

                <mat-error *ngIf="password.errors?.['minlength']">
                    Password Minimum Length is {{ userName.errors?.['minlength']?.requiredLength }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput [(ngModel)]="user.confirmPassword" name="confirmPassword" required #confirmPassword="ngModel" type="password" />

                <mat-error *ngIf="confirmPassword.errors?.['required']">
                    Confirm password is required
                </mat-error>

                <mat-error *ngIf="confirmPassword.errors?.['minlength']">
                    Confirm password Minimum Length is {{ userName.errors?.['minlength']?.requiredLength }}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>