<mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenavEvent.emit()">
      <mat-icon> menu </mat-icon>
    </button>
        <span class="title-span" (click)="handleLogoClicked()">ECash Manager</span>
        <mat-form-field>
            <select matNativeControl [(ngModel)]="selectedVersion" (ngModelChange)="switchVersions($event)">
        <option value="v1/dashboardV1">version 1</option>
        <option value="v2/dashboardV2">version 2</option>
      </select>
        </mat-form-field>

        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
        <div>
            <mat-menu #menu="matMenu" class="mat-menu">
                <div mat-menu-item class="profile-menu">
                    <mat-icon>account_circle</mat-icon>
                    <span>John Dou </span>
                    <span class="email-span">Email</span>
                </div>

                <div class="content"></div>
                <mat-divider></mat-divider>
                <div class="profile-menu-content">
                    <div mat-menu-item class="content">
                        <span>Profile</span>
                    </div>
                    <div mat-menu-item class="content">
                        <span>Sign out</span>
                    </div>
                </div>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>