.dashboardv2 {
    padding: 16px;
    flex-wrap: wrap;
}

.example-card {
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 80px;
    margin-bottom: 8px;
    margin-left: 35px;
    margin-top: 35px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-title {
    font-size: 16px;
}

.dashboardv2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-card-title-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.material-symbols-outlined {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}