<div class="content">
    <div class="title-button">
        <h1>Database Server</h1>
        <span class="example-spacer"></span>

        <mat-form-field class="my-form-field">
            <mat-label>Search...</mat-label>
            <input matInput #input />
        </mat-form-field>
        <button mat-raised-button (click)="newDbServer()">New Server</button>
    </div>
    <hr />
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>
            <ng-container matColumnDef="connectionString">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    connectionString
                </th>
                <td title="{{ row.connectionString }}" class="connection-string" mat-cell *matCellDef="let row">
                    {{ row.connectionString }}
                </td>
                +
            </ng-container>
            <ng-container matColumnDef="isDefault">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>isDefault</th>
                <td mat-cell *matCellDef="let row">{{ row.isDefault }}</td>
            </ng-container>
            <ng-container matColumnDef="maxEnvironments">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    maxEnvironments
                </th>
                <td mat-cell *matCellDef="let row">{{ row.maxEnvironments }}</td>
            </ng-container>
            <ng-container matColumnDef="numberOfEnvironments">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    numberOfEnvironments
                </th>
                <td mat-cell *matCellDef="let row">{{ row.numberOfEnvironments }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    No data matching the filter "{{ input.value }}"
                </td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>