.content {
    height: calc(100vh - 98px);
    margin: 46px;
    margin-left: 90px;
    font-size: 3rem;
    color: whitesmoke;
}

.title-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.example-spacer {
    width: 700px;
}

h1 {
    color: #616161;
    font-size: 25px;
}

hr {
    opacity: 1px;
    height: 2px;
    border-width: 0;
    color: #616161;
    background-color: #61616160;
    width: 100%
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
    color: #fff;
    background-color: #616161;
}